# Byte-compiled / optimized / DLL files
__pycache__/

.idea
.ipynb_checkpoints
.pt
.vscode
*.DS_Store
*html
*ipynb
*sh
*pkl

*sub_script

figures/
test_data/
pipeline_dx/
logs/
tools/
scratch/
checkpoints/*pt

dev/archive/
